doctype html
html(lang="en")
  head
    title HackeReader
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')
    // link(rel='stylesheet', href='css/style.css')
  body
    div.container
      div.jumbotron
        h1 HackeReader
        p RSS reader from HackerNews
      ul.list-group
        li.list-group-item Uno 
          span
            i.fa.fa-trash-o


                  div#news
      ul.list-group
        each noticia in noticias
          li.list-group-item=noticia.titulo
            span.badge
              i.fa.fa-trash-o
